			<script>
			
			// section for navbar toggle.
			newsFeed = document.querySelector("#newsFeed");
				newsFeed.addEventListener("mouseenter", function(){
					newsFeed.style.backgroundColor = "green";
					newsFeed.style.color = "white";
				});
				newsFeed.addEventListener("mouseleave", function(){
					newsFeed.style.backgroundColor = "#f0f0f0";
					newsFeed.style.color = "green";		
				});
			
			loginOut = document.querySelector("#loginOut");
				loginOut.addEventListener("mouseenter", function(){
					loginOut.style.backgroundColor = "green";
					loginOut.style.color = "white";
				});
				loginOut.addEventListener("mouseleave", function(){
					loginOut.style.backgroundColor = "#f0f0f0";
					loginOut.style.color = "green";		
				});
			
			myPets = document.querySelector("#myPets");
				myPets.addEventListener("mouseenter", function(){
					myPets.style.backgroundColor = "green";
					myPets.style.color = "white";
				});
				myPets.addEventListener("mouseleave", function(){
					myPets.style.backgroundColor = "#f0f0f0";
					myPets.style.color = "green";		
				});
				
			signUp = document.querySelector("#signUp");
				signUp.addEventListener("mouseenter", function(){
					signUp.style.backgroundColor = "green";
					signUp.style.color = "white";
				});
				signUp.addEventListener("mouseleave", function(){
					signUp.style.backgroundColor = "#f0f0f0";
					signUp.style.color = "green";		
				});
				
			home = document.querySelector("#home");
				home.addEventListener("mouseenter", function(){
					home.style.backgroundColor = "green";
					home.style.color = "white";
				});
				home.addEventListener("mouseleave", function(){
					home.style.backgroundColor = "#f0f0f0";
					home.style.color = "green";		
				});
				
			logOut = document.querySelector("#logOut");
				logOut.addEventListener("mouseenter", function(){
					logOut.style.backgroundColor = "green";
					logOut.style.color = "white";
				});
				logOut.addEventListener("mouseleave", function(){
					logOut.style.backgroundColor = "#f0f0f0";
					logOut.style.color = "green";		
				});
			</script>
		</body>
</html>