<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/styles.css">
		
		
<!-- Bootstrap 3.3.7 Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://kit.fontawesome.com/4eb95a4fa6.js" crossorigin="anonymous"></script>
		
	</head>
	
<body style="background-color:#f0f0f0;">
	
	
		<div class="container">
	
			<ul id="navigation" class="nav nav-tabs">
				<li role="presentation"><a id="home" href="/">Home</a></li>
				  <li role="presentation"><a id="newsFeed" href="/newsFeed">News Feed</a></li>
				  <li role="presentation"><a id="myPets" href="/myPets">My Pets</a></li>
				  
				<ul id="navigation2" class="nav nav-tabs navbar-right">
					<li role="presentation"><a id="signUp" href="#">Sign Up</a></li>
					<li role="presentation"><a id="loginOut" href="#">Log in</a></li>	
					<li role="presentation"><a id="logOut" href="#">Log Out</a></li>
				</ul>
			</ul>

		
		</div>
		
	

	
	